@font-face {
    font-family: "mine";
    src: url('./mine_icons.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BigRuixain";
    src: url('./ReeJi-BigRuixain-BlackGBV1.0.ttf');
    font-weight: normal;
    font-style: normal;
}